@model CreateBannerDto  
@{
    ViewData["Title"] = "CreateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">


                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Banner Bilgisi Girişi</h4>
                        <p class="card-subtitle mb-4">
                           Banner alanına veri girişini alttaki panelde yapabilirsiniz.Temada bozulma olmaması
                           adına yeni bir banner girişi yaptıktan sonra önceki banner alanını silin.
                            Sadece 1 banner alanı kalması gerekmektedir.
                        </p>

                        <form method="post">

                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Title" placeholder="Başlığı Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklamayı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoDescription">Video Açıklaması</label>
                                <input type="text" class="form-control" id="exampleInputVideoDescription" asp-for="VideoDescription" placeholder="Video Açıklamasını Gİriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputVideoURL">Video Linki</label>
                                <input type="text" class="form-control" id="exampleInputVideoURL" asp-for="VideoURL" placeholder="Video Enbed Linkini Giriniz">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Banner Bilgisini Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
            </div>
        </div>
    </div>
</div>