﻿
@model CreateTestimonialDto

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">


                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Referans Sayfası Veri Giriş Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Referans ekleme işleminin yapıldığı sayfamızdır.
                            Bilgileri eksiksiz olarak doldurup kaydet butonuna
                            tıklamanız yeterlidir.
                        </p>

                        <form method="post">

                            <div class="form-group">
                                <label for="exampleInputName">Referans Ad Soyad</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Referans Adını Soyadını Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputTitle">Referansın Ünvanı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Referans Ünvanını Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageURL">Referans Görsel</label>
                                <input type="text" class="form-control" id="exampleInputImageURL" asp-for="ImageUrl" placeholder="Referans Görsel URL Linkini Gİriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputComent">Referans Yorum</label>
                                <textarea rows="5" asp-for="Comment" class="form-control" placeholder="Yorumunuzu buraya yazabilirsiniz."> </textarea>
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Referansı Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
            </div>
        </div>
    </div>
</div>