﻿

@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">


                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Hakkımızda Veri Girişi Alanı </h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfanın ve Hakkımızda sayfasının "Hakkımda" alanında bulunan bilgileri aşağıdan düzenleyebilirsiniz.
                            Tema bütünlüğünü bozulmaması adına lütfen 1 tane veri girişi yapınız.
                            Aksi durumlarda tema bütünlüğü bozulacaktır.
                        </p>
                        <form method="post">

                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="title" placeholder="Başlığı Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <textarea rows="5" asp-for="description" class="form-control" placeholder="Açıklamayı Giriniz"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputimageURL">Fotoğraf Linki</label>
                                <input type="text" class="form-control" id="exampleInputimageURL" asp-for="imageURL" placeholder="Hakkımda Kapak Fotoğraf Linkini Gİriniz">
                            </div>


                            <button type="submit" class="btn btn-primary waves-effect waves-light">Hakkımda Bilgisini Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>
            </div>
        </div>
    </div>
</div>